body {
    background: #fcfaf2;
    line-height: 1.6;
    max-width: 960px;
    margin: 0 auto;
}

main {
    width: 70%;
    float: left;
}

aside {
    width: 30%;
    float: right;

}

h1 {
    font: 400 60px/60px 'Gentium Book Basic', serif;
    font-style: italic;
}

.page-header {
    text-align: center;
}
.page-header span {
    padding: 0 20px;
    background: #fcfaf2;
    position: relative;
    top: -20px;
}

.page-header h2 {
    border-top: 1px solid #222;
    color: #222;
    font: 800 34px/34px 'open sans';
    text-transform: uppercase;
    text-align: center;

}

p {
    font: 400 16px/24px 'gentium book basic';
}

#hongwu {
    max-width: 40%;
    float: right;
    margin-top: 7px;
}

#hongwu img {
max-width: 100%;
}

nav li {
    list-style: none;
    text-decoration: none;
}

#next {
    float: right;
}

@media only screen
  and (min-device-width: 767px)
  and (max-device-width: 1024px)
   {
    main {
    width: 70%;
    float: none;
    margin: 0 auto;
}

aside {
    width: 70%;
    float: none;
    margin: 0 auto;
}

#hongwu {
    max-width: 70%;
    margin: 0 auto;
    float: none;
}

}

@media screen and (max-width: 970px) {
    main {
    width: 70%;
    float: none;
    margin: 0 auto;
}

aside {
    width: 70%;
    float: none;
    margin: 0 auto;
}

#hongwu {
    max-width: 70%;
    margin: 0 auto;
    float: none;
}

}
